PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=K-VQvAvzz0m5lTdDeFq-xN6y5WiYKu-Q
DRIVE_DISK=local
DB_CONNECTION=pg
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DB_NAME=
PG_HOST=ec2-3-229-161-70.compute-1.amazonaws.com
PG_PORT=5432
PG_USER=oxrgoxzrdxggqx
PG_PASSWORD=ebf7fbc1a00291230bd9d8d1fd612b8245916e74b5a635e31d0753bc29516239
PG_DB_NAME=oxrgoxzrdxggqx
